    <div class="flash">
        <div class="header">
            <h1><a href="/">Catalog</a></h1>
            <h3>ITEMS</h3>
        </div>
        <div class="flashs">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}

        </div>
    </div>

