<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Documentation For JSON API </title>
</head>
<body>
    <section class="centerbox">
        <h1>JSON</h1>
        <p>
            to get the last ten items posted :
            <i><a href="http://localhost:8080/catalog/JSON">http://localhost:8080/catalog/JSON</a></i>
        </p>
        <p>
            to get the list of the Categories:
            <i><a href="http://localhost:8080/catalog/categories/JSON">http://localhost:8080/catalog/categories/JSON</a></i>
        </p>
        <p>
            to get a certin category:
            <i><a href="http://localhost:8080/JSON/category/1">http://localhost:8080/JSON/category/:int:</a></i>
        </p>
        <p>
            to get a certin category:
            <i><a href="http://localhost:8080/JSON/item/1">http://localhost:8080/JSON/item/:int:</a></i>
        </p>
    </section>
</body>
</html>